@{
    Layout = null;
}
<html>
<head>
    <title>Missing Number</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div id="content"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    @Scripts.Render("~/bundles/main")
    @Html.ReactInitJavaScript()
</body>

</html>
